/* Custom styles */
.sidebar {
    height: 100vh; /* Adjust as needed */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure sidebar is above other content */
    flex: 0 0 12%; /* Set the width of the sidebar */
}

.sidebar .nav-link {
    color: #fff; /* White color for links */
    text-align: center; /* Center the text */
    font-weight: bold;
    font-size: larger;
}

.profile img {
    width: 150px; /* Adjust the width of the photo */
    border-radius: 50%; /* Make the photo round */
    display: block;
    margin: 0 auto; /* Center the photo */
}

.profile .icon {
    width: 50px; /* Adjust the width of the photo */
    border-radius: 75%; /* Make the photo round */
    display: block;
    margin: 0px auto; /* Center the photo */
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

.profile ul {
    padding-left: 0; /* Remove default padding */
}

.profile .nav-link {
    padding: 5px; /* Add some padding to the links */
}

.h3 {
    color: #464646; /* Center the text */
}

/* CSS for the container */
.container {
    background-color: rgb(50, 50, 50); /* Blue background */
    color: white; /* White text */
    border-radius: 10px; /* Rounded corners */
    border : 2px solid black;
    padding: 20px;
    display: block;
    align-items: center;
    gap: 20px;
    max-width: 95%/* Set maximum width */
}

/* CSS for the image */
.logo img {
max-width: 100px; /* Adjust image size */
background-color: white;
border : 3px solid black;
height: auto;
border-radius: 15px; /* Rounded corners */
}

/* CSS for the title and subtitle */
.info {
flex-grow: 1;
}

/* CSS for the subtitle */
.subtitle {
font-size: 16px;
font-style: italic;
}

/* CSS for the date */
.date {
    font-size: 14px;
    font-style: italic;
    text-align: right;
    align-items: right;
    float:right;
}

/*iframe*/
iframe {
    align-items: center;
}

.image-container {
    display: block;
    justify-content: space-between;
    align-items: center;
}

.image-container img {
    max-width: 33%;
    height: auto;
}

.carousel-item {
    text-align: center;
  }

.carousel-control-prev, .carousel-control-next {
color: #000;
}

.carousel-inner {
width: 600px; /* Constant width for the carousel container */
margin: 0 auto; /* Center the carousel */
}

.carousel-item a {
display: block;
max-width: 50%; /* Max width of each project */
margin: 0 auto;
padding: 10px;
background-color: #f2f2f2; /* Gray background */
border: 2px solid #000; /* Black border */
}